# ====================================================================
# [Python] 가상 환경 및 캐시
# =====================================================================
venv/
.venv/
.env
env/
bin/
lib/
include/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
.mypy_cache/

# =====================================================================
# [Django] 정적 파일 및 DB
# =====================================================================
*.sqlite3
staticfiles/
media/
# django 하위의 migrations 폴더는 보통 추적하지만, 특정 캐시는 제외 가능
# */migrations/__pycache__/

# =====================================================================
# [Node & React] Frontend 빌드
# =====================================================================
node_modules/
dist/
build/
.next/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =====================================================================
# [Airflow] 로그 및 로컬 설정
# =====================================================================
airflow/logs/
airflow/airflow-webserver.pid
airflow/unittests.cfg

# =====================================================================
# [Environment & IDE] 환경 변수 및 설정
# =====================================================================
.env
.DS_Store
.vscode/
.idea/
*.swp
*.bak
